USE [master]
GO
/****** Object:  Database [XERO]    Script Date: 24/10/2024 15:44:27 ******/
CREATE DATABASE [XERO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'XERO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\XERO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'XERO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\XERO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [XERO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [XERO]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 24/10/2024 15:44:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[DeliveryPrice] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductOption]    Script Date: 24/10/2024 15:44:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductOption](
	[Id] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Product] ([Id], [Name], [Description], [Price], [DeliveryPrice]) VALUES (N'347e944b-fc53-4f83-8326-0114eb1010e7', N'xiomi', N'n56', CAST(7899.90 AS Decimal(18, 2)), CAST(20.11 AS Decimal(18, 2)))
INSERT [dbo].[Product] ([Id], [Name], [Description], [Price], [DeliveryPrice]) VALUES (N'8f2e9176-35ee-4f0a-ae55-83023d2db1a3', N'Samsung Galaxy S7', N'Newest mobile product from Samsung.edited', CAST(1024.99 AS Decimal(18, 2)), CAST(16.99 AS Decimal(18, 2)))
INSERT [dbo].[Product] ([Id], [Name], [Description], [Price], [DeliveryPrice]) VALUES (N'de1287c0-4b15-4a7b-9d8a-dd21b3cafec3', N'Apple iPhone 6S', N'55 Newest mobile product from Apple. Postman Edit', CAST(1299.99 AS Decimal(18, 2)), CAST(15.99 AS Decimal(18, 2)))
GO
INSERT [dbo].[ProductOption] ([Id], [ProductId], [Name], [Description]) VALUES (N'a21d5777-a655-4020-b431-624bb331e9a2', N'8f2e9176-35ee-4f0a-ae55-83023d2db1a3', N'Black', N'Black Samsung Galaxy S7')
INSERT [dbo].[ProductOption] ([Id], [ProductId], [Name], [Description]) VALUES (N'5c2996ab-54ad-4999-92d2-89245682d534', N'de1287c0-4b15-4a7b-9d8a-dd21b3cafec3', N'Rose Gold', N'Gold Apple iPhone 6S')
INSERT [dbo].[ProductOption] ([Id], [ProductId], [Name], [Description]) VALUES (N'9ae6f477-a010-4ec9-b6a8-92a85d6c5f03', N'de1287c0-4b15-4a7b-9d8a-dd21b3cafec3', N'White', N'White Apple iPhone 6S')
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[ProductOption] ADD  CONSTRAINT [DF_ProductOption_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[ProductOption]  WITH CHECK ADD  CONSTRAINT [FK_ProductOption_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductOption] CHECK CONSTRAINT [FK_ProductOption_Product]
GO
USE [master]
GO
